body {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
        url('./images/slcateringbg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    height: 135vh;
    text-align: center;
    overflow: hidden;
}

.header-text {
    margin-top: 3%;
    font-size: 90px;
    font-family: 'Fasthand', cursive;
    text-align: center;
    color: rgba(245, 245, 245, 0.8);
}

.dropdown-toggle::after {
    content: none;
    border-top: none;
    margin-left: 0;
}

.contact-table {
    margin: 2% auto;
}

th, td, .contact-container p {
    color: whitesmoke;
}

th, td {
    padding: 10px;
}

table, th, td {
    font-size: 25px;
    border: 5px solid rgba(0, 0, 0, 1);
    background-color: rgba(245, 245, 245, 0.7);
    color: black;
    margin: auto;
    border-collapse: collapse;
}

.contact-container {
    margin: 2% auto;
    display: inline-block;
    padding: 10px;
    font-size: 40px;
    background-color: rgba(245, 245, 245, 0.9);
    border-radius: 20px;
}

.contact-container p {
    color: black;
}

li {
    margin: 0 10px;
}

li a {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.home-text {
    margin-right: 50%;
    margin-top: 5%;
    font-size: 80px;
    font-family: 'Fasthand', cursive;
    text-align: center;
    color: rgba(245, 245, 245, 0.8);
}

.home-text2 {
    margin-top: 2%;
    margin-right: 20%;
    font-size: 150px;
    font-family: 'Fasthand', cursive;
    text-align: center;
    color: rgba(245, 245, 245, 0.9);
}

.text-center {
    margin-top: 18%;
    display: inline-block;
    text-align: center;
    transition: 0.2s;
}

.menu-button {
    color: rgba(245, 245, 245, 0.7);
    font-size: 45px;
    font-family: 'Fasthand', cursive;
    text-align: center;
    border: 2px solid rgba(245, 245, 245, 0.7);
    border-radius: 30px;
    padding: 10px 20px;
    transition: 0.2s
}

.fasthand-large {
    font-family: 'Fasthand', cursive;
    font-size: 50px;
}

.fasthand-small {
    font-family: 'Fasthand', cursive;
    font-size: 50px;
    color: whitesmoke;
}

.lato {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    color: rgba(245, 245, 245, 0.6);
}

.text-center:hover {
    color: black;
}

.menu-button:hover {
    background-color: rgba(245, 245, 245, 0.9);
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.navbar-brand {
    font-family: 'Fasthand', cursive;
    font-size: 40px;
}

.menuHover {
    display: inline-block;
    position: relative;
    color: black;
}

.menuHover::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.menuHover:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu-title {
    font-family: 'fasthand', cursive;
    font-size: 40px;
}

.card {
    margin-top: 1rem;
    background: white;
    padding: 1rem;
    border: 1px solid #777;
    border-radius: .25rem;
}

.card-header {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.card-body {
    font-size: .9rem;
}

.card-footer {
    margin-top: 1rem;
}

.card-grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
    align-items: flex-start;
    max-width: 1000px;
}

.card-header.card-image {
    overflow: hidden;
}

.card-header.card-image > img {
    display: block;
    width: 100%;
    max-height: 200px;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
    transition: 200ms transform ease-in-out;
}

.card:hover > .card-header.card-image > img {
    transform: scale(1.025);
}
@media all and (max-width: 1430px) {
    .home-text {
        font-size: 50px;
        margin-right: 50%;
    }

    .home-text2 {
        font-size: 80px;
    }

    .text-center {
        margin-top: 40%;
    }
}

@media all and (max-width: 1200px) {
    .home-text {
        font-size: 30px;
    }
    .home-text2 {
        font-size: 70px;
    }
    .text-center {
        margin-top: 50%;
    }
}
@media all and (max-width: 700px) {
    .home-text {
        font-size: 20px;
    }
    .home-text2 {
        font-size: 50px;
    }
    .fasthand-small {
        font-size: 30px;
    }
    .text-center {
        margin-top: 100%;
    }
    table, td, th {
        font-size: 20px;
    }
}